

.c-font-green1{
    color: #37bfa7 !important;
}

.c-layout-header.c-layout-header-4 .c-navbar {
    background-color: #fcfcfc;
}

.c-form-border {
    border: 2px solid #37bfa7
}

.c-panel-border {
    border: 1px solid #36c0a6 !important;
}

.c-header-img {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 40px;
}

.custom-title {
    font-size: 16px;
    font-weight: bold;

}
